

/* Ajusta el tamaño del contenedor */
#charts-container {
    display: flex; /* Utiliza flexbox para alinear los gráficos horizontalmente */
    justify-content: space-between; /* Ajusta el espacio entre los gráficos según tus necesidades */
    align-items: flex-start; /* Alinea los gráficos al inicio verticalmente */
    width: 100%; /* Ajusta el ancho del contenedor según tus necesidades */
    margin-top: 200px; /* Ajusta el margen superior según tus necesidades */
}

#chart1 {
    width: 500px !important;
    height: 500px !important;
    margin-right: 200px;
    margin-top: -80px;
    /* margin-right: 400px; */ /* Elimina esta línea, ya no es necesaria */
}

#chart2 {
    width: 600px !important;
    height: 600px !important;
    margin-top: -170px;
    margin-right: 300px;
}

.TituloGraficaP{
    margin-left: 50px;
    font-size: 30px;
    margin-top: 150px;
}
